.cards__item {
  padding: 0;
  border: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 240px;
  box-sizing: border-box;
}

.cards__item:not(:nth-child(3)) {
  margin-right: 100px;
}
