* {
  margin: 0;
  padding: 0;
  border: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
  width: 100%;
  overflow: hidden;
}

.logo {
  width: 228px;
  height: 32px;
  z-index: 2;
}

 .logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0 0 0 64px;
  padding: 0;
  max-width: 730px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  color: #000;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  margin: 0;
  padding: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  display: flex;
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}


.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  color: #000;
}

.two-columns__paragraph:not(:last-child) {
  padding-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: 700;
}

.digits {
  padding: 100px 0 100px;
}

.section-title {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  color:#000;
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  color: #000;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table {
  margin: 0 auto;
  width: 1100px;
  border-spacing: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
  vertical-align: top;
  color: #000;
}

.table__cell_theme_dark {
  width: 200px;
  color: #fff;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-image: url('/images/feynman.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  box-sizing: border-box;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
  min-height: 890px;
}

.feynman__title {
  text-align: center;
  margin: 0 auto 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  color:#000;
}

.feynman__subtitle {
  text-align: center;
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:#000;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: -2;
  padding: 90px 0 90px;
}

.kaufman__triangle {
  background-image: url('/images/kaufman-triangle.svg');
  background-position: -210px 0;
  background-size: 877px 877px;
  overflow: hidden;
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
}

.footer {
  background-color: #1f1f1f;
  color: #fff;
  min-height: 350px;
  display: flex;
  padding: 60px 0 40px;
}

.footer__columns {
  width: 90%;
  display: flex;
  margin: 0 auto 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  width:fit-content;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  width:fit-content;
}

.footer__author {
  bottom: 40px;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  width:fit-content;
}

.footer__column-links {
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  width:fit-content;
}

li.footer__column-link {
  list-style-type: none;
}

.footer__column-link a {
  text-decoration: none;
  color: #fff;
}

.footer__social-icon {
  margin-right: 8px; /*добавил для большего соответствия с макетом*/
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
